*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

.listbtn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    display: none;
}
.listbtn i{
    font-size: 72px;
}

.nav
{
    display: flex;
    justify-content: center;
}

#map
{
    width: 100%;
    height: 100vh;
}
.right_side
{
    position: absolute;
    z-index: 100;
    background: rgba(0, 0, 0, 0.7); 
    color: #ccc;
    width: 50%;
    bottom: 0;
    box-shadow: 0px 0px 50px 10px #999;
    overflow: hidden;
    max-height: 100%; /* 高度根據需要調整 */
    transition: max-height .3s ease-out;
}
.right_side.active{
    max-height: 0;
}

.right_side .content
{   
    position: relative;
    width: 100%;
    height: 100%;
    padding: 15px 150px;
}

.right_side h3
{
    top: 0;
    position: relative;
    background: transparent;
    text-align: center;
    font-weight: 700;
}

.closelist{
    display: none;
    font-size: 60px;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
}
.search{
    position: absolute;
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control
{
    width: 80%;
    height: 40%;
}

#addBtn
{
    width: 20%;
    height: 40%;
    background: #333;
    font-weight: 1000;
    text-align: center;
    justify-content: center;

}

#addBtn:hover, .draw:hover{
    background: #333;
    box-shadow: 0px 0px 10px 1px black;
    transition: 0.5s;
}

.list-group-item
{
    background-color: transparent;
    font-weight: 1000;
    color: #fff;
}
.draw
{
    position: relative;
    margin: 10px 40%;
    width: 70px;
    border-radius: 5px;
    background: #333;
    font-weight: 1000;
}

#wheel  
{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    display: none;
}

#canvas
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1400px){
}
@media (max-width: 1200px){
    .right_side h3
    {
        font-size: 20px;
    }
    .right_side .content
{   
    padding: 15px 10px;
}
}
@media (max-width: 992px){

}

@media (max-width: 768px){
    .listbtn{
        display: block;
    }

    .closelist{
        display: block;
    }
    .search{
        width: 70%;
    }

}
@media (max-width: 600px){
    #canvas
    {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 576px){
    
}

@media (max-width: 450px){
    #canvas
    {

        width: 300px;
        height: 300px;

    }
}